html,
body {
  padding: 0;
  margin: 0;
  background-color: red;
  font-family: Barlow, sans-serif;
}

h1 {
  background-color: red;
  font-size: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
